body {
  margin: 0;
  padding: 0;
  display: flex;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

.billing-container {
  background-image: url(../images/billing-background-image.png);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0rem;
  right: 0;
  z-index: 100;
  background-color: antiquewhite;
  height: 4rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.total-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
}


.logo-container {
  margin-right: 3rem;
}

.logo {
  height: 2.5rem;
}


.search-container {
  display: flex;
  position: relative;
  margin-right: 2rem;
}

.search-icon {
  position: absolute;
  top: 0.49rem;
  left: 0.5rem;
  color: #000;
}

.search-input {
  border: none;
  background-color: #fff;
  height: 2rem;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-top: 0.1rem;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

.search-input::placeholder {
  color: #000;
}

.search-input:focus {
  outline: none;
}


.menu-item {
  position: relative;
  cursor: pointer;
}

.item-link {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 1rem;
  height: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.item-link:hover {
  background-color: #000;
  color: #fff;
  font-weight: normal;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none; 
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown li {
  list-style-type: decimal;
}
  
.dropdown li a {
display: block;
padding: 10px;
color: #333;
text-decoration: none;
background-color: #fff;
}

.dropdown li a:hover {
background-color: #f1f1f1;
}

.menu-item:hover .dropdown {
display: block;
}

.current-user {
  height: 2rem;
  border-radius: 1rem;
}


